arabic-reshaper
asgiref
asn1crypto
Brotli
certifi
cffi
chardet
charset-normalizer
click
cryptography
cssselect2
Django
django-admin-soft-dashboard
django-allauth
django-cleanup
django-htmx
django-xhtml2pdf
djangorestframework
fonttools
gunicorn
html5lib
idna
lxml
mysqlclient
numpy
oscrypto
packaging
pandas
pillow
pycparser
pydyf
pyHanko
pyhanko-certvalidator
pypdf
pyphen
pypng
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
reportlab
requests
six
sqlparse
str2bool
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
weasyprint
webencodings
whitenoise
xhtml2pdf
zopfli
