{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">
      {% if request.user.is_authenticated and not request.user.is_superuser %}
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Open tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{request_user_open_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">{{request_user_open_tictes_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                    <i class="ni ni-lock-circle-open text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Closed tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{request_user_closed_tickets_count}}
                      <span class="text-danger text-sm font-weight-bolder">-{{request_user_closed_tictes_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow text-center border-radius-md">
                    <i class="ni ni-fat-remove text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Resolved tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      +{{request_user_resolved_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">{{request_user_resolved_tictes_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                    <i class="ni ni-check-bold text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Pending</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{request_user_pending_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">+{{request_user_pending_tictes_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary  shadow text-center border-radius-md" >
                    <i class="ni ni-active-40 text-lg opacity-10" aria-hidden="true" ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div id="report-popup" class="report-popup-form">
          <div class="report-popup-content">
              <span id="close-popup" class="report-popup-close">&times;</span>
              <form id="report-form">
                  <div class="report-form-group">
                      <label for="report-type">Report Type:</label>
                      <select id="report-type" class="report-select" name="report_type">
                          <option value="overall">Overall</option>
                          <option value="branch">Branch</option>
                          <option value="support_member">Support Member</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                      </select>
                  </div>
  
                  <div id="support-member-search" class="report-form-group" style="display: none;">
                      <label for="support-member">Search Support Member:</label>
                      <div id="suggestions-container" class="suggestions-container">
                          <select id="support-member-suggestions" class="suggestions-list">
                              {% if support_members %}
                                  {% for member in support_members %}
                                      <option value="{{ member.username }} {{ member.phone_number }}">
                                          {{ member.username }}  {{ member.phone_number }}
                                      </option>
                                  {% endfor %}
                              {% endif %}
                          </select>
                      </div>
                  </div>
                  
                  <div id="branch-search" class="report-form-group" style="display: none;">
                      <label for="branch">Search Branch:</label>
                      <div id="branch-suggestions-container" class="suggestions-container">
                          <select id="branch-suggestions" class="suggestions-list">
                              {% if branches %}
                                  {% for branch in branches %}
                                      <option value="{{ branch.name }}">
                                          {{ branch.name }}
                                      </option>
                                  {% endfor %}
                              {% endif %}
                          </select>
                      </div>
                  </div>
  
                  <div class="report-form-group">
                      <label for="start-date">Start Date:</label>
                      <input type="date" id="start-date" class="report-datetime-picker" name="start_date" required>
                  </div>
  
                  <div class="report-form-group">
                      <label for="end-date">End Date:</label>
                      <input type="date" id="end-date" class="report-datetime-picker" name="end_date" required>
                  </div>
  
                  <button id="submit-button" type="submit" class="btn btn-primary">Generate</button>
              </form>
          </div>
      </div>
        {% comment %} <div class="col-12 mb-4">
          <a href="{% url 'generate_weekly_report' %}" class="btn btn-primary">Generate Report</a>
        </div> {% endcomment %}
        <div class="col-12 mb-4">
          <button id="generate-report-button" class="btn btn-primary">Generate Report</button>
      </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Open tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{open_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">{{open_tickets_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                    <i class="ni ni-lock-circle-open text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Closed tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{closed_tickets_count}}
                      <span class="text-danger text-sm font-weight-bolder">-{{closed_tickets_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow text-center border-radius-md">
                    <i class="ni ni-fat-remove text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Resolved tickets</p>
                    <h5 class="font-weight-bolder mb-0">
                      +{{resolved_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">{{resolved_tickets_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                    <i class="ni ni-check-bold text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Pending</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{pending_tickets_count}}
                      <span class="text-success text-sm font-weight-bolder">+{{pending_tickets_percentage}}%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary  shadow text-center border-radius-md" >
                    <i class="ni ni-active-40 text-lg opacity-10" aria-hidden="true" ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <h6>Weekly Summary</h6>
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="350"></canvas>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Monthly overview</h6>
              <p class="text-sm">
                <i class="ni ni-sound-wave text-success"></i>
                <span class="font-weight-bold">4% more</span> in Aug
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Tickets Table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class='text-black'>
                                        <th class="text-black text-uppercase  text-xxs font-weight-bolder ">Opened By</th>
                                        <th class="text-black text-uppercase  text-xxs font-weight-bolder ps-2">Description</th>
                                        <th class="text-black text-center text-uppercase  text-xxs font-weight-bolder">Status</th>
                                        <th class="text-black text-center text-uppercase  text-xxs font-weight-bolder">Created At</th>
                                        <th class="text-black text-center text-uppercase  text-xxs font-weight-bolder opacity-7">Assigned to</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ticket in tickets %}
                                    <tr>
                                        <td class='username-class'>
                                            <div class="d-flex px-2 py-1">
                                              <a href="{% url 'ticket_detail' ticket.id %}" class="text-secondary text-xs font-weight-bold">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">{{ ticket.created_by.username|title }}

                                                    <span class=" start-100 translate-middle p-1 bg-secondary border border-light semi-rounded">
                                                      <span class="text-xs " ><span class='ticket-messages'>{{ticket.message_count}}</span> messages</span>
                                                    </span>
                                                  </h6>
                                                </div>
                                              </div>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{ ticket.description }}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm position-relative">
                                            <a href="{% url 'ticket_list_by_status' ticket.status %}" class="badge badge-sm position-relative" style="background-color: 
                                                {% if ticket.status == 'open' %}
                                                    lightgreen
                                                {% elif ticket.status == 'resolved' %}
                                                    green
                                                {% elif ticket.status == 'pending' %}
                                                    orange
                                                {% elif ticket.status == 'closed' %}
                                                    red
                                                {% endif %}
                                            ">
                                                {{ ticket.status|title }}
                                              </a>
                                            </td>
                                            <td class="align-middle text-center">
                                              <span class="text-secondary text-xs font-weight-bold">{{ ticket.created_at|date:"d/m/Y" }}</span>
                                            </td>
                                            {% if ticket.assigned_to %}
                                            <td class="align-middle text-center assigned-user">
                                              <a href="{% url 'tickets_by_assignee' ticket.assigned_to.id %}" class="text-xs font-weight-bold">
                                                {{ ticket.assigned_to.username }}
                                                
                                            </a>
                                            {% if ticket.is_escalated %}
                                              <span class='escaleted-ticket'>escalated</span>
                                            {% endif %}
                                        </td>
                                        {% else %}
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">Unassigned</span>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="search-results"></div>
    
            
        {% comment %} <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">Built by developers</p>
                    <h5 class="font-weight-bolder">Soft UI Dashboard</h5>
                    <p class="mb-5">From colors, cards, typography to complex elements, you will find the full documentation.</p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                      Read More
                      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  <div class="bg-gradient-primary border-radius-lg h-100">
                    <img src="{% static 'img/shapes/waves-white.svg' %}" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                    <div class="position-relative d-flex align-items-center justify-content-center h-100">
                      <img class="w-100 position-relative z-index-2 pt-4" src="{% static 'img/illustrations/rocket-white.png' %}" alt="rocket">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('{% static 'img/ivancik.jpg' %}');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Work with the rockets</h5>
                <p class="text-white">Wealth creation is an evolutionarily recent positive-sum game. It is all about who take the opportunity first.</p>
                <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                  Read More
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      fetch('/get-chart-data/')
          .then(response => response.json())
          .then(data => {
              // Bar Chart (Weekly Data)
              var ctx = document.getElementById("chart-bars").getContext("2d");
  
              new Chart(ctx, {
                type: "bar",
                data: {
                  labels: data.labels_weekly,
                  datasets: [{
                    label: "Resolved",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "#fff",
                    data: data.resolved_counts_weekly,
                    maxBarThickness: 30
                  }]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    legend: {
                      display: false,
                    }
                  },
                  interaction: {
                    intersect: false,
                    mode: 'index',
                  },
                  scales: {
                    y: {
                      grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                      },
                      ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 15,
                        font: {
                          size: 14,
                          family: "Open Sans",
                          style: 'normal',
                          lineHeight: 2
                        },
                        color: "#fff"
                      },
                    },
                    x: {
                      grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false
                      },
                      ticks: {
                        display: false
                      },
                    },
                  },
                },
              });
  
              // Line Chart (Monthly Data)
              var ctx2 = document.getElementById("chart-line").getContext("2d");
  
              var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
  
              gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
              gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
              gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors
  
              var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
  
              gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
              gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
              gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors
  
              new Chart(ctx2, {
                type: "line",
                data: {
                  labels: data.labels_monthly,
                  datasets: [
                    {
                      label: "Resolved",
                      tension: 0.4,
                      borderWidth: 0,
                      pointRadius: 0,
                      borderColor: "#16a34a",
                      borderWidth: 4,
                      backgroundColor: gradientStroke1,
                      fill: true,
                      data: data.resolved_counts_monthly,
                      maxBarThickness: 20
                    },
                    {
                      label: "Open",
                      tension: 0.4,
                      borderWidth: 0,
                      pointRadius: 0,
                      borderColor: "#86efac",
                      borderWidth: 3,
                      backgroundColor: gradientStroke2,
                      fill: true,
                      data: data.open_counts_monthly,
                      maxBarThickness: 6
                    },
                    {
                      label: "Closed",
                      tension: 0.4,
                      borderWidth: 0,
                      pointRadius: 0,
                      borderColor: "#dc2626",
                      borderWidth: 3,
                      backgroundColor: gradientStroke2,
                      fill: true,
                      data: data.closed_counts_monthly,
                      maxBarThickness: 6
                    },
                    {
                      label: "Pending",
                      tension: 0.4,
                      borderWidth: 0,
                      pointRadius: 0,
                      borderColor: "#fde047",
                      borderWidth: 3,
                      backgroundColor: gradientStroke2,
                      fill: true,
                      data: data.pending_counts_monthly,
                      maxBarThickness: 6
                    },
                  ],
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    legend: {
                      display: false,
                    }
                  },
                  interaction: {
                    intersect: false,
                    mode: 'index',
                  },
                  scales: {
                    y: {
                      grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                      },
                      ticks: {
                        display: true,
                        padding: 10,
                        color: '#b2b9bf',
                        font: {
                          size: 15,
                          family: "Open Sans",
                          style: 'normal',
                          lineHeight: 2
                        },
                      }
                    },
                    x: {
                      grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                      },
                      ticks: {
                        display: true,
                        color: '#b2b9bf',
                        padding: 20,
                        font: {
                          size: 11,
                          family: "Open Sans",
                          style: 'normal',
                          lineHeight: 2
                        },
                      }
                    },
                  },
                },
              });
          })
          .catch(error => console.error('Error fetching chart data:', error));
  });

  {% comment %} REPORT JS START {% endcomment %}
  document.getElementById('generate-report-button').addEventListener('click', function() {
    document.getElementById('report-popup').style.display = 'block';
});

document.getElementById('close-popup').addEventListener('click', function() {
    document.getElementById('report-popup').style.display = 'none';
});

//Support member searching on report....
document.getElementById('report-type').addEventListener('change', function(e) {
  const selectedType = this.value;
  const searchSection = document.getElementById('support-member-search');
  const branchSearch = document.getElementById('branch-search');
  const supportMemberSearch = document.getElementById('support-member-search');



  if (selectedType === 'support_member') {
      searchSection.style.display = 'block';
      branchSearch.style.display = 'none';
  } else if (selectedType === 'branch') {
    branchSearch.style.display = 'block';
    supportMemberSearch.style.display = 'none';
  }
  else {
      searchSection.style.display = 'none';
  }
});

document.getElementById('support-member').addEventListener('input', function() {
  const input = this.value.toLowerCase();
  const suggestions = document.querySelectorAll('#support-member-suggestions option');

  suggestions.forEach(option => {
      const text = option.value.toLowerCase();
      if (text.includes(input)) {
          option.style.display = ''; // Show option if it matches the input
      } else {
          option.style.display = 'none'; // Hide option if it doesn't match the input
      }
  });
});

document.getElementById('support-member-suggestions').addEventListener('click', function(event) {
  const selectedOption = event.target;
  if (selectedOption.tagName.toLowerCase() === 'option') {
      document.getElementById('support-member').value = selectedOption.value;
  }
});

document.getElementById('branch-suggestions').addEventListener('click', function(event) {
  const selectedOption = event.target;
  if (selectedOption.tagName.toLowerCase() === 'option') {
      document.getElementById('branch').value = selectedOption.value;
  }
});

$(document).ready(function() {
  $('#support-member').select2({
      placeholder: 'Type to search...',
      // Data source or options can be loaded here
  });
});

document.getElementById('report-form').addEventListener('submit', function(e) {
    e.preventDefault();
    const submitButton = document.getElementById('submit-button');
    submitButton.disabled = true;

    // Add loader
    const loader = document.createElement('div');
    loader.className = 'loader';
    submitButton.appendChild(loader);

    // Simulate form submission (Replace with actual AJAX request if needed)
    setTimeout(function() {
        submitButton.disabled = false;
        loader.remove();
        document.getElementById('report-popup').style.display = 'none';
        alert('Report generated!');
    }, 3000); // Simulated delay
});
  </script>
  {% comment %} <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"],
        datasets: [{
          label: "Resolved",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400],
          maxBarThickness: 30
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Resolved",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#16a34a",
            borderWidth: 4,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 20

          },
          {
            label: "Open",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#86efac",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
          {
            label: "Closed",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#dc2626",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [100, 20, 90, 100, 170, 200, 390, 150, 320],
            maxBarThickness: 6
          },
          {
            label: "Pending",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#fde047",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [20, 90, 70, 140, 220, 290, 340, 130, 230],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 15,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script> {% endcomment %}

{% endblock scripts %}
