{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Ticket #{{ ticket.id }} - {{ ticket.title }}</h6>
        </div>
        <div class="card-body">
          <p>Status: {{ ticket.status }}</p>
          <p>Description: {{ ticket.description }}</p>
          <p>Created by: {{ ticket.created_by }}</p>
          <p>Assigned to: {{ ticket.assigned_to }}</p>
          
          <h6 class="mt-4">Messages</h6>
          <ul>
            {% for message in messages %}
              <li>{{ message.created_at }}: {{ message.content }}</li>
            {% endfor %}
          </ul>
          
          <h6 class="mt-4">History</h6>
          <ul>
            {% for log in logs %}
              <li>{{ log.timestamp }}: {{ log.status }} (Changed by {{ log.changed_by }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
