{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Ticket #{{ ticket.id }} - {{ ticket.title }}</h6>
        </div>
        <div class="card-body">
          <p><strong>Status:</strong> {{ ticket.status }}</p>
          <p><strong>Origin Branch:</strong> {{ ticket.branch_opened }}</p>
          <p><strong>Description:</strong> {{ ticket.description }}</p>
          <p><strong>Created by:</strong> {{ ticket.created_by.username|title }}</p>
          <p><strong>Assigned to:</strong> {{ ticket.assigned_to }}</p>
          
          <h6 class="mt-4">Messages</h6>
          <div class="chat-box">
            {% if messages != None %}
              {% for message in messages %}
                <div class="chat-message {% if message and message.inquirer %}inquirer-message{% else %}support-message{% endif %}">
                  <div class="message-content">
                    {{ message.content }}
                  </div>
                  <div class="message-meta">
                    <small>{{ message.created_at|date:"d/m/Y H:i" }}</small>
                    {% if  message.inquirer %}
                    <small>{{ message.inquirer.username}}</small>
                    {% else %}
                    <small>{{ message.support_member.username }}</small>
                    {% endif %}
                    {% comment %} <small>{{ message.inquirer.username if  message.inquirer else message.support_member.username }}</small> {% endcomment %}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>No messages yet.</p>
            {% endif %}
          </div>
          
          <h6 class="mt-4">History</h6>
          <ul>
            {% for log in logs %}
              <li>{{ log.timestamp }}: {{ log.status }} (Changed by {{ log.changed_by }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
