{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Ticket #{{ ticket.id }} - {{ ticket.title }}</h6>
        </div>
        <div class="card-body">
          <p><strong>Status:</strong> {{ ticket.status }}</p>
          <p><strong>Description:</strong> {{ ticket.description }}</p>
          <p><strong>Created by:</strong> {{ ticket.created_by }}</p>
          <p><strong>Assigned to:</strong> {{ ticket.assigned_to }}</p>
          
          <h6 class="mt-4">Messages</h6>
          <div class="chat-box">
            {% for message in messages %}
              <div class="chat-message {% if message.inquirer %}inquirer-message{% else %}support-message{% endif %}">
                <div class="message-content">
                  {{ message.content }}
                </div>
                <div class="message-meta">
                  <small>{{ message.created_at|date:"d/m/Y H:i" }}</small>
                  <small>{{ message.inquirer.username if message.inquirer else message.support_member.username }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
          
          <h6 class="mt-4">History</h6>
          <ul>
            {% for log in logs %}
              <li>{{ log.timestamp }}: {{ log.status }} (Changed by {{ log.changed_by }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
