{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 class="p-2 text-white" style="background-color: 
            {% if status == 'open' %}
              lightgreen
            {% elif status == 'resolved' %}
              green
            {% elif status == 'pending' %}
              orange
            {% elif status == 'closed' %}
              red
            {% endif %};
            max-width: max-content;">
            {{ status|title }} Tickets
          </h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created At</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assigned to</th>
                </tr>
              </thead>
              <tbody>
                {% for ticket in tickets %}
                <tr class="ticket-row">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          <a href="#" class="open-popup" data-creater="{{ticket.created_by}}" data-description="{{ ticket.description }}">{{ ticket.title }}</a>
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ ticket.description }}</p>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ ticket.created_at|date:"d/m/Y" }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ ticket.assigned_to }}</span>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" class="text-center">No tickets with status "{{ status }}" found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup Container -->
<div id="popup" class="popup-overlay">
  <div id="popup-content" class="popup-content">
    <div id="popup-description" class="popup-description"></div>
  </div>
  <span class="close-btn">&times;</span>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var popup = document.getElementById('popup');
    var popupContent = document.getElementById('popup-content');
    var closeButton = document.querySelector('.close-btn');
    var viewDetailsButtons = document.querySelectorAll('.open-popup');
  
    viewDetailsButtons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action
  
        // Get the clicked row and its position
        var rect = this.closest('tr').getBoundingClientRect();
        var description = this.getAttribute('data-description');
        var creator = this.getAttribute('data-creater');
        // Set popup content and position
        document.getElementById('popup-description').innerHTML = `
        ${description} <br><br>
        <span style="color: c2c2c2; font-size:13px;">Opened by: ${creator}</span>
      `;
        popupContent.style.top = (rect.top + window.scrollY) + 'px';
        popupContent.style.left = (rect.left + window.scrollX) + 'px';
        popupContent.style.width = (rect.width) + 'px';
        
        // Show the popup
        popup.style.display = 'flex';
      });
    });
  
    closeButton.addEventListener('click', function() {
      popup.style.display = 'none'; // Hide the popup
    });
  
    window.addEventListener('click', function(event) {
      if (event.target === popup) {
        popup.style.display = 'none'; // Hide the popup if clicking outside of it
      }
    });
  });
</script>


{% include "includes/footer.html" %}
{% endblock content %}
